.container {
  width: 100%;
}

.content {
  background: var(--background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__form {
  max-width: 680px;
  width: 100%;
  padding: 0 18px;
  padding-bottom: 28px;
  margin-top: 32px;
}

.content__form__title {
  margin-bottom: 8px;
}

.content__form__checkboxArea label {
  margin-left: 8px;
  color: var(--foreground);
}

.content__form__checkboxArea {
  margin: 14px 0;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.button {
  width: 100%;
  border: 0;
  border-radius: 4px;
  color: #fafafa;
  background: #3183ff;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  opacity: 85%;
  transition: opacity 0.1s ease-in;
}

.tasks {
  max-width: 1024;
  width: 100%;
  margin: 34px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.tasks a {
  text-decoration: none;
  color: var(--background);
}

.tasks h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}

.item {
  margin-bottom: 14px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1.5px solid #909090;
  border-radius: 4px;
  padding: 14px;
}

.item___tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.item__tags__public {
  background: #3183ff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: #fafafa;
}

.item__tags__button {
  background: transparent;
  border: 0;
  margin: 0 10px;
  cursor: pointer;
}

.item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item__content p {
  white-space: pre-wrap;
}

.item__content__button {
  background: transparent;
  border: 0;
  margin: 0 10px;
  cursor: pointer;
}
